/* fonts styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* common styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 20px 0px;
    padding: 20px 0;
    width: 1200px;

}

.highlight{
    color: mediumaquamarine;
}

/* nav-bar styles */
.nav-bar{
    margin: 0 auto;
    height: 60px;
    align-items: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-logo h1{
text-transform: uppercase;
cursor: pointer;

}

.nav-item ul{
display: flex;
position: relative;
}

.nav-item ul li{
    list-style: none;
    margin-left: 20px;
    padding: 3px 16px;
    cursor: pointer;
       
}

.nav-item ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 18px;
    letter-spacing: .5;

}

/* =====================================
    Underline hover animation start
======================================== */
a::after{
    content: "";
    position: absolute;
    background-color:mediumaquamarine;
    height: 3px;
    width: 0;
    left: 0px;
    bottom: -10px;
    transition: .3s;
}


a:hover::after{
    width: 100%;
}

/* =====================================
    Underline hover animation end
======================================== */

.header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header-info{
    width: 530px;
    height: 300px;
}

.header-title{
    font-size: 52px;
    color: #3a3a3a;
}

.header-details{
    font-size: 18px;
    line-height: 1.6em;
    color: #3a3a3a;
}

.header-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 180px;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: mediumaquamarine;
    color: white;
outline: 0;
border: none;
transition: .2s linear;
}
.header-btn:hover{
    border: 2px solid mediumaquamarine;
    background-color: white;
    color: mediumaquamarine;
    cursor: pointer;    
}
    .header-img img{
        width: 100%;
    }
.header-img{
    position: relative;
     /* padding-bottom: 100px; */
    animation-name: moving-image;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes moving-image {
    0%{content: url(../images/main-camera.png);
        width: 440px;
        height: 414px;
        /* top: -30px;
        left: -30px; */
        top: 0px;
       
        background-image: url(../images/Circle\ design.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    50%{
        content: url(../images/iphone_12.png);
        width: 440px;
        height: 414px;
        /* top: -30px;
        left: -30px; */
        top: 0px;
        background-image: url(../images/Circle\ design.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    100%{
        content: url(../images/macbook-air.png);
        width: 440px;
        height: 414px;
        /* 
        left: -30px; */
        top: 0px;
        background-image: url(../images/Circle\ design.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.header-img::after{
    content: url(../images/Circle\ design.svg);
    height: 130px;
    width: 130px;
    position: absolute;
   top: -30px;
   left: -30px;
   z-index: -50;
}


/* Brand logo styles */
.brand-logo{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    /* border: 1px solid;
    border-left: white;
    border-right: white;
    border-image: linear-gradient(); */
    box-shadow: 0px 2px #f8f6f6, 0px -2px 0px #e2e0e0;

}

/* popular-collection styles */
.popular-collections{
    margin: 0 auto;
}
.popular-title{
    color: #3a3a3a;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}

.products{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
    grid-gap: 30px;

}


.product{
    width: 330px;
    height: 500px;
    box-shadow: 20px 20px 30px #f8f6f6;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.product img{
    width: 100%;
}
.product-info p{
    width: 200px;
    line-height: 1.5em;
}



.rating i{
    color: gold;
}

.see-more{
    display: flex;
    justify-content: flex-end;
}

.seemore-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 140px;
    padding: 8px 16px;
    border-radius: 25px;
outline: 0;
border: none;
transition: .2s linear;
}
.seemore-btn:hover{
    border: 2px solid mediumaquamarine;
    background-color: white;
    color: mediumaquamarine;
    cursor: pointer;    
}

