/* fonts styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* common styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 20px 0px;
    padding: 20px 0;
    width: 1200px;

}

.highlight{
    color: mediumaquamarine;
}

/* nav-bar styles */
.nav-bar{
    margin: 0 auto;
    height: 60px;
    align-items: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-logo h1{
text-transform: uppercase;
cursor: pointer;

}

.nav-item ul{
display: flex;
position: relative;
}

.nav-item ul li{
    list-style: none;
    margin-left: 20px;
    padding: 3px 16px;
    cursor: pointer;
       
}

.nav-item ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 18px;
    letter-spacing: .5;

}

/* =====================================
    Underline hover animation start
======================================== */
a::after{
    content: "";
    position: absolute;
    background-color:mediumaquamarine;
    height: 3px;
    width: 0;
    left: 0px;
    bottom: -10px;
    transition: .3s;
}


a:hover::after{
    width: 100%;
}

/* =====================================
    Underline hover animation end
======================================== */

.header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info{
    width: 530px;
    height: 300px;
}

.header-title{
    font-size: 52px;
    color: #3a3a3a;
}

.header-details{
    font-size: 18px;
    line-height: 1.6em;
    color: #3a3a3a;
}

.header-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 180px;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: mediumaquamarine;
    color: white;
outline: 0;
border: none;
transition: .2s linear;
}
.header-btn:hover{
    border: 2px solid mediumaquamarine;
    background-color: white;
    color: mediumaquamarine;
}

.header-img{
    position: relative;
}
.header-img::after{
    content: url(../images/Circle\ design.svg);
    height: 130px;
    width: 130px;
    position: absolute;
   top: -30px;
   left: -30px;
   z-index: -50;
}