/* fonts styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* common styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 20px 0px;
    padding: 20px 0;
    width: 1200px;

}

.highlight{
    color: mediumaquamarine;
}

/* nav-bar styles */
.nav-bar{
    margin: 0 auto;
    height: 60px;
    align-items: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.side-bar{
    display: none;
}

.nav-logo h1{
text-transform: uppercase;
cursor: pointer;

}

.nav-item ul{
display: flex;
position: relative;
}

.nav-item ul li{
    list-style: none;
    margin-left: 20px;
    padding: 3px 16px;
    cursor: pointer;
       
}

.nav-item ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 18px;
    letter-spacing: .5;

}

/* =====================================
    Underline hover animation start
======================================== */
a::after{
    content: "";
    position: absolute;
    background-color:mediumaquamarine;
    height: 3px;
    width: 0;
    left: 0px;
    bottom: -10px;
    transition: .3s;
}


a:hover::after{
    width: 100%;
}

/* =====================================
    Underline hover animation end
======================================== */

.header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header-info{
    width: 530px;
    height: 300px;
}

.header-title{
    font-size: 52px;
    color: #3a3a3a;
}

.header-details{
    font-size: 18px;
    line-height: 1.6em;
    color: #3a3a3a;
}

.header-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 180px;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: mediumaquamarine;
    color: white;
outline: 0;
border: none;
transition: .2s linear;
}
.header-btn:hover{
    border: 2px solid mediumaquamarine;
    background-color: white;
    color: mediumaquamarine;
    cursor: pointer;    
}
    .header-img img{
        width: 100%;
    }
.header-img{
    position: relative;
    animation-name: moving-image;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moving-image {
    0%{content: url(../images/main-camera.png);
        width: 440px;
        height: 414px;
        top: 0px;
        background-image: url(../images/Circle\ design.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    50%{
        content: url(../images/iphone_12.png);
        width: 440px;
        height: 414px;
        top: 0px;
        background-image: url(../images/Circle\ design.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    100%{
        content: url(../images/macbook-air.png);
        width: 440px;
        height: 414px;
        top: 0px;
        background-image: url(../images/Circle\ design.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* Brand logo styles */
.brand-logo{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    box-shadow: 0px 2px #f8f6f6, 0px -2px 0px #f8f6f6;

}

/* popular-collection styles */
.popular-collections{
    margin: 0 auto;
}
.popular-title{
    color: #3a3a3a;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}

.products{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 30px;

}


.product{
    width: 330px;
    height: 500px;
    box-shadow: 20px 20px 30px #f8f6f6;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.product img{
    width: 100%;
}
.product-info p{
    width: 200px;
    line-height: 1.5em;
}



.rating i{
    color: gold;
}

.see-more{
    display: flex;
    justify-content: flex-end;
}

.seemore-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 140px;
    padding: 8px 16px;
    border-radius: 25px;
    outline: 0;
    border: none;
    transition: .2s linear;
    cursor: pointer; 
    background-color: white;
    color: mediumaquamarine;
}


/* earning money styles */

.earn-money{
    margin: 0 auto;
    
}

.earning-method{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
}

.earning-image img{
    width: 410px;
    height: 270px;
}

.earning-details h2{
    font-size: 30px;
}

.earning-details p{
    width: 400px;
    font-size: 18px;
    line-height: 1.5em;


}


.earning-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 140px;
    padding: 8px 16px;
    
    background-color: mediumaquamarine;
    color: white;
outline: 0;
border: none;
transition: .2s linear;
margin: 10px 0;
cursor: pointer; 
}



/* foooter styles */
footer{
    width: 100%;
    height: 160px;
    background-color: #3a3a3a;
    color: mediumaquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: .3em;
}
footer p{
    margin:15px 0 15px 0;
}
.footer-icon{
    font-size: 20px;
}


/* Responsive styles */

/* For Mobile Device */
@media only screen and (max-width: 688px){
    .container{
        width: 90%;
    }
    .nav-item{
        display: none;
        position: absolute;
        top: 80px;
    }
     #respo-bar{
        display: none;
    } 
   #respo-bar:checked~.nav-item{
        display: block;

    }
    .side-bar{
        display: block;
    }
    .nav-item ul{
        flex-direction: column;
        background-color: #3a3a3a;
        align-items: center;
        width: 215%;
        height: 295px;
        z-index: 2;
    }
    .nav-item ul li{
        margin: 10px 0;
    }
    .nav-item ul li a{
        color: oldlace;
    }
    .header{
        flex-direction: column;
    }
    .header-info{
        order: 2;
    }
    .header-title{
        font-size: 35px;
    }
    .header-img img{
       width: 100%; 

    }
    .header-info{
        width: 100%;
    }
    .brand-logo{
        display: flex;
        
       flex-wrap: wrap;
    }
    .products
   {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
       
    }
    .earning-method{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .earning-method p{
        width: 100%;
        padding: 0 10px;

    }
    .earning-image img{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    @keyframes moving-image {
        0%{content: url(../images/main-camera.png);
            width: 80%;
            height: 80%;
            top: 0px;
            background-image: url(../images/Circle\ design.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        100%{
            content: url(../images/iphone_12.png);
            width: 80%;
            height: 80%;
            top: 0px;
            background-image: url(../images/Circle\ design.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        /* 100%{
            content: url(../images/macbook-air.png);
            width: 100%;
            height: 100%;
            top: 0px;
            background-image: url(../images/Circle\ design.svg);
            background-size: cover;
            background-repeat: no-repeat;
        } */
    }
}







































































